*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #212227;
}
.app_home_page{
    border: 1px solid white;
    height: 648px;
    display: flex;
    border: none;
}
.app_home_settings{
    border-right: 0.2px solid #4f5155;
    height: 100%;
    width: 19%;
    position: fixed;
    background-color: #23262d;
}
.app_home_content{
    border: 1px solid white;
    height: 100%;
    width: 81%;
    border: none;
}
.app_home_border{
    border: 1px solid white;
    height: 100%;
    width: 19%;
    border: none;
}
.app_home_logo{
    border-bottom: 1px solid #4f5155;
    height: 9%;
    background-color: #23262d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
}
.app_home_logo img{
    width: 250px;
}
.app_home_setting{
    border: 1px solid white;
    height: 100%;
    border: none;
}
.app_setting_data{
    border: 1px solid white;
    height: 6.8%;
    display: flex;
    align-items: center;
    color: #7b777a;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    margin-top: 7px;
    transition: all 0.1s linear;
    border: none;
}
.app_setting_data_color{
    border: 1px solid white;
    height: 6.8%;
    display: flex;
    align-items: center;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    margin-top: 7px;
    transition: all 0.1s linear;
    border: none;
    background-color: #30333c;
}
.app_setting_data:hover{
    background-color: #30333c;
    color: white;
    transition: all 0.1s linear;
    cursor: pointer;
}
.app_setting_data p{
    margin-top: 3px;
}
.app_setting_data_color p{
    margin-top: 3px;
}
a{
    text-decoration: none;
}
.app_setting_data i{
    margin-left: 15px;
    margin-right: 20px;
    font-size: 18px;
}
.app_setting_data_color i{
    margin-left: 15px;
    margin-right: 20px;
    font-size: 18px;
}
.app_content_header{
    border-bottom: 1px solid #4f5155;
    height: 9%;
    background-color: #23262d;
    display: flex;
    position: fixed;
    width: 80.8%;
}
.app_border_header{
    border-bottom: 0.2px solid #4f5155;
    height: 9%;
    border: none;
}
.app_content_border{
    border: 1px solid white;
    height: 9%;
    width: 100%;
    border: none;
}
.app_header_title{
    border: 1px solid white;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
.app_title_text{
    border: 1px solid white;
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    border: none;
}
.app_title_date{
    border: 1px solid white;
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #f7b03e;
    border: none;
}
.app_title_date p{
    margin-right: 5px;
    margin-left: 5px;
}
.app_header_icons{
    border: 1px solid white;
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.app_header_icons i{
    color: grey; 
    font-size : 20px;
    transition: all 0.1s linear;
}
.app_header_icons i:hover{
    color: #f7b03e;
    transition: all 0.1s linear;
    cursor: pointer;
}
.app_header_profile{
    border: 1px solid white;
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    border: none;
}
.app_header_profile img{
    width: 38px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.app_profile_data{
    border: 1px solid white;
    width: 70%;
    height: 70%;
    border: none;
}
.app_profile_data h5{
    color: #f7b03e;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 6px;
}
.app_profile_data h6{
    color: #7b777a;
    font-size: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 3px;
}
.app_content_footer{
    border-top: 1px solid #4f5155;
    height: 5%;
    background-color: #23262d;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #7b777a;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}
.app_profile_setting{
    border: 1px solid white;
    width: 79%;
    height: 16%;
    position: fixed;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    border: none;
    margin-top: 2px;
    visibility: hidden;
}
.app_setting_info{
    border: 1px solid #2c2e35;
    width: 15%;
    height: 100%;
    background-color: #23262d;
    color: white;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    border: none;
}
.app_setting_info.active{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s linear;
}
.app_info_choice{
    border-bottom: 0.3px solid rgb(71, 71, 71);
    height: 33%;
    display: flex;
    align-items: center;
}
.app_setting_info a{
    color: white;
    text-decoration: none;
    margin-left: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    transition: all 0.2s linear;
}
.app_setting_info a:hover{
    color: #f7b03e;
    transition: all 0.2s linear;
}
.app_setting_more{
    border: 1px solid #4f5155;
    height: 8%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    border: none;
}
.app_more{
    border: 0.5px solid #4f5155;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app_more i{
    color: #f7b03e;
    transition: all 0.5s linear;
    font-size: 15px;
}
.app_more:hover i{
    color: white;
    transition: all 0.5s linear;
}
.app_more:hover{
    background-color: #f7b03e;
    transition: all 0.5s linear;
    cursor: pointer;
}
