{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="about_page">
    <div class="about_title">
        Who We Are ? And Why We Are Better Than Others ?
    </div>
    <div class="about_body">
        <div class="about_body_image">
            <img src="{% static 'IMAGES/about.png' %}" alt="">
        </div>
        <div class="about_body_data">
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 