{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="about_page">
    <div class="about_title">
        Who We Are ? And Why We Are Better Than Others ?
    </div>
    <div class="about_body">
        <div class="about_body_image">
            <img id="page_image" onload="rool_right(-510 , 60)" src="{% static 'IMAGES/about.png' %}">
        </div>
        <div class="about_body_data">
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>No More Waisted Time Or Money On Waiting</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Notification In RealTime, Comfortable Use</h5>
            </div> 

            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Speed And H-Quality Result And Technologie</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>7D / 24H Team Available To Your Contact Time</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>We Reimagine So The World Moves For Better</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Your Safety Drives Us To A Lighter Future</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Sustainability With Easy Trips And Beyond</h5>
            </div>
            <div class="about_data">
                <img src="{% static 'ICONS/done.png' %}">
                <h5>Getting Diversity Right , Integrity Acting</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 