{% load static %}
{% url 'uberai-general-visualisation' as visual %}
{% url 'uberai-profile-modification' as modification %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'IMAGES/logo.png' %}" type="images/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/all.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/general_visualisation.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/profile_modification.css' %}">
    {% if title %} 
        <title>UberAi - {{title}}</title>
    {% else %}
        <title>UberAi</title>
    {% endif %}
</head>
<body>
    <div class="app_home_page">
        <div class="app_home_border"></div>
        <div class="app_home_settings">
            <div class="app_home_logo">
                <img src="{% static 'IMAGES/big_logo_black.png' %}">
            </div>
            <div class="app_home_setting">
                <a href="#">
                    <div class="app_setting_data">
                        <i style="color: white;" class="fa fa-home"></i>
                        <p>DASHBOARD</p>
                    </div>
                </a>
                <a href="{% url 'uberai-general-visualisation' %}">
                    <div {% if request.path == visual %} class="app_setting_data_color" {% else %} class="app_setting_data" {% endif %}>
                        <i style="color: white;" class="fa-solid fa-chart-pie"></i>
                        <p >GENREAL VISUALISATION</p>
                    </div>
                </a>
                <a href="#">
                    <div class="app_setting_data">
                        <i style="color: white;" class="fa-brands fa-nfc-symbol"></i>
                        <p>AI SYSTEM PRIDECTION</p>
                    </div>
                </a>
                <a href="#">
                    <div class="app_setting_data">
                        <i style="color: white;" class="fa-solid fa-taxi"></i>
                        <p>TAXI ORDER SYSTEM</p>
                    </div>
                </a>
                <a href="{% url 'uberai-profile-modification' %}">
                    <div {% if request.path == modification %} class="app_setting_data_color" {% else %} class="app_setting_data" {% endif %}>
                        <i style="color: white;" class="fa-solid fa-user-pen"></i>
                        <p>PROFILE MODIFICATIONS</p>
                    </div>
                </a>
                <div class="app_setting_more">
                    <div class="app_more">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="app_more">
                        <i class="fa-solid fa-calendar-check"></i>
                    </div>
                    <div class="app_more">
                        <i class="fa-solid fa-signal"></i>
                    </div>
                    <div class="app_more">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="app_home_content">
            <div class="app_content_header" id="app_content_header">
                <div class="app_header_title">
                    <div class="app_title_text"></div>
                    {% if date %}
                        <div class="app_title_date">
                            <p>{{date.day}}</p>
                            <p>{{date.fulldate}}</p>
                            <p>{{date.time}}</p>    
                        </div>
                    {% endif %}
                </div>
                <div class="app_header_icons">
                    <i class="fa-solid fa-bell"></i>
                </div>
                <div class="app_header_profile">
                    <img onclick="show()" src="{% static 'ICONS/user.png' %}">
                    <div class="app_profile_data">
                        <h5>{{user.first_name}} {{user.last_name}}</h5>
                        {% if user.username == 'admin' %}
                            <h6>{{user.username}}</h6>
                        {% else %}
                            <h6>Client</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="app_border_header"></div>
            <div class="app_profile_setting">
                <div class="app_setting_info" id="app_setting_info">
                    <div class="app_info_choice"><a href="#">Edit Profile</a></div>
                    <div class="app_info_choice"><a href="#">Settings</a></div>
                    <div style="border : none;" class="app_info_choice"><a href="{% url 'uberai-log-out' %}">Log Out</a></div>
                </div>
            </div>
            <!-- this is wher our application start-->
                    {% block app %}
                    {% endblock app %}
            <!-- this is when our application end -->
            <div class="app_content_footer">
                Copyright@Um6p 2022
            </div>
        </div>
    </div>
    <script src="{% static 'JS/script.js' %}"></script>
</body>
</html>