{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'IMAGES/logo.png' %}" type="images/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    {% if title %}
        <title>UberAi - {{title}}</title>
    {% else %}
        <title>UberAi</title>
    {% endif %}
</head>
<body>
    <div class="first_page_header">
            <div class="first_header_logo">
                <a href="{% url 'uber-ai-home' %}">
                    <img style="width: 250px; margin-left: 20px;" src="{% static 'IMAGES/big_logo_black.png' %}">
                </a> 
            </div>
        <div class="first_header_data">
            <a href="{% url 'uber-ai-home' %}">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="first_header_more">
            <a href="{% url 'uberai-log-in' %}">Log In</a>
            <a style="background-color: #2b6472;" href="#">Sign Up Now</a>
        </div>
    </div>
    

    <!-- this is where our application is going to start -->
            {% block content %}
            {% endblock content %}
    <!-- this is where our application is going to end -->


    <div class="first_page_footer">
        <div class="footer_edition">Privacy Policy</div>
        <div class="footer_copyright">Copyright@Um6p 2022</div>
    </div>
    <script src="{% static 'JS/script.js' %}"></script>
</body>  
</html>