{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'IMAGES/logo.png' %}" type="images/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    {% if title %}
        <title>UberAi - {{title}}</title>
    {% else %}
        <title>UberAi</title>
    {% endif %}
</head>
<body>
    <div class="app_home_page">
        <div class="app_home_border"></div>
        <div class="app_home_settings">
            <div class="app_home_logo"></div>
            <div class="app_home_setting">
                <div class="app_setting_data"></div>
                <div class="app_setting_data"></div>
                <div class="app_setting_data"></div>
                <div class="app_setting_data"></div>
                <div class="app_setting_data"></div>
            </div>
        </div>
        <div class="app_home_content">
            <div class="app_content_header">
                <div class="app_header_title">
                    <div class="app_title_text">
                        <img src="{% static 'IMAGES/big_logo_black.png' %}">
                    </div>
                    <div class="app_title_date">
                        <p>Thursday</p>
                        <p>28 April 2022</p>
                        <p>2:34 AM</p>    
                    </div>
                </div>
                <div class="app_header_icons">
                    <img src="{% static 'ICONS/notification.png' %}">
                </div>
                <div class="app_header_profile">
                    <img src="{% static 'ICONS/user.png' %}">
                    <div class="app_profile_data">
                        <h5>Hamza Bouslama</h5>
                        <h6>Client</h6>
                    </div>
                </div>
            </div>
            <div class="app_profile_setting">
                <div class="app_setting_info">
                    <div class="app_info_choice"><a href="#">Edit Profile</a></div>
                    <div class="app_info_choice"><a href="#">Settings</a></div>
                    <div style="border : none;" class="app_info_choice"><a href="{% url 'uberai-log-out' %}">Log Out</a></div>
                </div>
            </div>
            <!-- this is where our application -->
                    {% block app %}
                    {% endblock app %}
            <!-- this is when our application end -->
            <div class="app_content_footer"></div>
        </div>
    </div>
</body>
</html>