{% extends 'base_app.html' %}
{% block app %}
<div class="app_home">
    <div class="app_home_title">
        <p>GENREAL VISUALISATION</p>
    </div>
    <div class="app_home_body">
        <div class="app_body_input">
            <select name="data" id="data">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <input type="text" name="" id="" placeholder="Look For Specifc Time">
        </div>
        <div class="app_body_data">
            <div class="app_data_table">
                <div class="app_table_title">
                    <div class="app_title"><h1>Date</h1><i class="fa-solid fa-calendar-check"></i></div>
                    <div class="app_title"><h1>Hour</h1><i class="fa-solid fa-clock"></i></div>
                    <div class="app_title"><h1>Type</h1><i class="fa-brands fa-typo3"></i></div>
                    <div class="app_title"><h1>Confidence</h1><i class="fa-brands fa-confluence"></i></div>
                    <div class="app_title"><h1>Status</h1><i class="fa-solid fa-signal"></i></div>
                </div>
                <div class="app_table_data">
                    {% if data %}
                        {% for i in data %}
                            <div class="app_table_content">
                                <div class="app_data">{{i.date}}</div>
                                <div class="app_data">{{i.hour}}</div>
                                <div class="app_data">{{i.type}}</div>
                                <div class="app_data">{{i.confidence}}</div>
                                {% if i.status == 'New Detection'%}
                                    <div style="color: rgb(76, 151, 69);" class="app_data">{{i.status}}</div>
                                {% elif i.status == 'Almost Detection' %}
                                    <div style="color: #f7b03e;" class="app_data">{{i.status}}</div>
                                {% else  %}
                                    <div style="color: rgb(230, 117, 89);" class="app_data">{{i.status}}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="app_body_footer">
            Showing 1 to 10 of last Predection
        </div>
    </div>
</div>
{% endblock app %}