{% extends 'base_app.html' %}
{% block app %}
<div class="app_home">
    <div class="app_home_title">
        <p>GENREAL VISUALISATION</p>
    </div>
    <div class="app_home_body">
        <div class="app_body_input">
            <select name="data" id="data">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <input type="text" name="" id="" placeholder="Look For Specifc Time">
        </div>
        <div class="app_body_data">
            <div class="app_data_table">
                <div class="app_table_title">
                    <div class="app_title"><h1>Date</h1><i class="fa-solid fa-calendar-check"></i></div>
                    <div class="app_title"><h1>Hour</h1><i class="fa-solid fa-clock"></i></div>
                    <div class="app_title"><h1>Type</h1><i class="fa-brands fa-typo3"></i></div>
                    <div class="app_title"><h1>Confidence</h1><i class="fa-brands fa-confluence"></i></div>
                    <div class="app_title"><h1>Status</h1><i class="fa-solid fa-signal"></i></div>
                </div>
                <div class="app_table_data">
                    <div class="app_table_content">
                        <div class="app_data">10 May 2022</div>
                        <div class="app_data">15: 30 PM</div>
                        <div class="app_data">Taxi Driver Add</div>
                        <div class="app_data">0.79 %</div>
                        <div class="app_data">New Detection</div>
                    </div>
                    <div class="app_table_content">
                        <div class="app_data">10 May 2022</div>
                        <div class="app_data">15: 30 PM</div>
                        <div class="app_data">Taxi Driver Add</div>
                        <div class="app_data">0.79 %</div>
                        <div class="app_data">New Detection</div>
                    </div>
                    <div class="app_table_content">
                        <div class="app_data">10 May 2022</div>
                        <div class="app_data">15: 30 PM</div>
                        <div class="app_data">Taxi Driver Add</div>
                        <div class="app_data">0.79 %</div>
                        <div class="app_data">New Detection</div>
                    </div>
                    <div class="app_table_content">
                        <div class="app_data">10 May 2022</div>
                        <div class="app_data">15: 30 PM</div>
                        <div class="app_data">Taxi Driver Add</div>
                        <div class="app_data">0.79 %</div>
                        <div class="app_data">New Detection</div>
                    </div>
                    <div class="app_table_content">
                        <div class="app_data">10 May 2022</div>
                        <div class="app_data">15: 30 PM</div>
                        <div class="app_data">Taxi Driver Add</div>
                        <div class="app_data">0.79 %</div>
                        <div class="app_data">New Detection</div>
                    </div>
                    <div class="app_table_content">
                        <div class="app_data">10 May 2022</div>
                        <div class="app_data">15: 30 PM</div>
                        <div class="app_data">Taxi Driver Add</div>
                        <div class="app_data">0.79 %</div>
                        <div class="app_data">New Detection</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app_body_footer">
            Showing 1 to 10 of 57 entries
        </div>
    </div>
</div>
{% endblock app %}