{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="login_page">
    <div class="login_page_input">
        <div class="login_input_title">
            <h1>Login to Your Account</h1>
        </div>
        <div class="login_input_text">
            Choose from more than 130,000 service with new additions published every second month
        </div>
        <div class="login_input_data">
            <form action="{% url 'uberai-log-in' %}" method="POST">
                {% if form.errors %}
                    <h3 style="margin-left: 120px;margin-bottom: 10px; color: red; font-family: Arial, Helvetica, sans-serif; font-size: 10px;">Invalid !! Please Check Your Information and Try again</h3>
                {% elif message %}
                    <h3 style="margin-left: 120px;margin-bottom: 10px; color: green; font-family: Arial, Helvetica, sans-serif; font-size: 10px;">{{message}}</h3>
                {% endif %}
                {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                <input style="padding: 0;" type="submit" value="Log In">
            </form>
            <a href="{% url 'uberai-forget-password' %}">Forget Password ? <p style="color: #161617;"></p></a>
        </div>
    </div>
    <div class="login_page_image" >
        <img id="page_image" onload="rool_left(1300 , 700)" src="{% static 'IMAGES/log_in.png' %}">
    </div>
</div>
{% endblock content %}