{% extends 'base_app.html' %}
{% block app %}
<div class="system_app">
    <div class="system_title">
        <p>AI SYSTEM PRIDECTION</p>
    </div>
    <div class="system_body">
        <div class="system_data">
            <div class="system_value">
                <div class="ai_title"><i class="fa-brands fa-nfc-directional"></i>Newtest Pridection</div>
                <div class="ai_body">
                    {% if new %}
                        <div class="ai_number">{{new}}</div>
                    {% endif %}
                    <div class="ai_icons">
                        <i class="fa-solid fa-arrow-up-right-dots"></i>
                    </div>
                    <div class="ai_more">
                        {% if confidence %}
                            <p>{{confidence}}%</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="system_total">
                <div class="pridect_title"><i class="fa-solid fa-taxi"></i>Latest Detection Time</div>
                <div class="pridect_body">
                        {% if before %}
                            <div class="pridect_number">{{before}}</div>
                        {% endif %}
                        <div class="pridect_icons">
                        <i class="fa-solid fa-square-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="system_table">
            <div class="app_data_table">
                <div class="app_table_title">
                    <div class="app_title"><h1>Date</h1><i class="fa-solid fa-calendar-check"></i></div>
                    <div class="app_title"><h1>Hour</h1><i class="fa-solid fa-clock"></i></div>
                    <div class="app_title"><h1>Type</h1><i class="fa-brands fa-typo3"></i></div>
                    <div class="app_title"><h1>Confidence</h1><i class="fa-brands fa-confluence"></i></div>
                </div>
                <div class="app_table_data">
                    {% if data %}
                        {% for i in data %}
                            <div style="height: 7.5%;" class="app_table_content">
                                <div style="padding-left: 10px;" class="app_data">{{i.date}}</div>
                                <div style="padding-left: 15px; color: #f7b03e;" class="app_data">{{i.hour}}</div>
                                <div style="padding-left: 20px;" class="app_data">{{i.type}}</div>
                                <div style="padding-left: 25px;" class="app_data">{{i.confidence}}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock app %}